{% extends 'base.html.twig' %}
{% block title %}
	{{ app_name }}
	- Page d'accueil
{% endblock %}
{% block page_title %}
	<i class="fas fa-home"></i>
	{{app_name}}
{% endblock %}
{% block page_subtitle %}
	{{app_name_description}}

{% endblock %}

{% block page_content %}
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% import "macros/default.html.twig" as dft %}
		{{ dft.no_connexion() }}
	{% else %}
		{% import "macros/user.html.twig" as user %}
		{{user.messageEmailValidated(app.user)}}

	{% endif %}
	{% import 'macros/axe.html.twig' as axe %}

	<div class="row justify-content-center mb-5 d-flex align-items-center">
		{{axe.showBoxes(axes)}}
	</div>


{% endblock %}
