{% extends 'base.html.twig' %}
{% import 'macros/action.html.twig' as act %}
{% import 'macros/home.html.twig' as hm %}

{% block title %}
	{{ app_name }}
	- Page d'accueil
{% endblock %}
{% block page_title %}
	<i class="fas fa-home"></i>
	{{app_name}}
{% endblock %}
{% block page_subtitle %}
	{{app_name_description}}

{% endblock %}

{% block page_content %}
	{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		{% import "macros/default.html.twig" as dft %}
		{{ dft.no_connexion() }}
	{% else %}
	
		{{ render(controller('App\\Controller\\GPIController::showGPIAction', { 'page': 'home'})) }}
		{% import "macros/user.html.twig" as user %}
		{{ user.messageEmailValidated(app.user) }}
		{{ user.messageAccountValidated(app.user) }}


		{% if is_granted('ROLE_USER') %}
			{% import 'macros/axe.html.twig' as axe %}

			<div class="row justify-content-center mb-3 d-flex align-items-center">
				{{axe.showBoxes(axes)}}
			</div>

			<div class="row  ">

				<div class="col-md-12 col-xl-6 col-xxl-4   ">
					<div class="card-body p-0 row d-flex align-items-center ">

						<div class="col-xs-12 col-md-4 d-flex flex-column bd-highlight mb-3 align-items-center justify-content-center text-p-dark2">
							<i class="fas fa-bolt fa-9x "></i>
							<h2 class="">Action</h1>
						</div>
						<div class="col-xs-12 col-md-8">
							{{ hm.showJalons(actions_jalon_for_pilote,'Jalon pour les pilotes')}}
							{{ hm.showJalons(actions_jalon_for_validers_cotech,'Jalon COTECH')}}
							{{ hm.showJalons(actions_jalon_for_validers_codir,'Jalon CODIR')}}
							{{ hm.showActionsIntervenants(actions_intervenant)}}
							{{ hm.showActionsMyForPilote(actions_my_for_pilote)}}
							{{ hm.showActionsSupervisionForPilote(actions_supervision_for_pilote)}}
						</div>
					</div>

				</div>
				<div class="col-md-12 col-xl-6 col-xxl-4   ">

					<div class="card-body row p-0  d-flex align-items-center ">

						<div class="col-xs-12 col-md-4 d-flex flex-column bd-highlight mb-3 align-items-center justify-content-center text-p-dark2">
							<i class="fas fa-city fa-9x "></i>
							<h2 class="">Déploiement</h1>
						</div>
						<div class="col-xs-12 col-md-8">
							{{ hm.showJalons(deployements_jalon_for_pilote)}}
							{{ hm.showDeployementsIntervenants(deployements_intervenant)}}
							{{ hm.showDeployementsActions(deployements_my)}}
						</div>
					</div>
					<div class="card-body row  d-flex justify-content-center">

						<div class="col-lg-6  col-md-12 col-sm-12">
							{{ include('indicator/_widgetContributif.html.twig') }}
						</div>
					</div>

				</div>

			</div>
		{% endif %}

	{% endif %}

{% endblock %}