{% import "macros/file.html.twig" as file %}
{% import "macros/widgets.html.twig" as widgets %}
<section class=" col-12 js-createTip-wrapper mt-5">
	<div class="createTip mt-5">

		<div class="createTip__title">
			Cadrage
		</div>
		<p>
			Le cadrage permet de donner les consignes globales de l'action.
		</p>
	</div>
	<h3 class="text-p-dark2">
		<i class="fas fa-crop-alt"></i>
		Cadrage
	</h3>
	<div class="p-3">
		{{ form_widget(form.cadrage) }}
	</div>
</section>


<article id="file" class="bg-white">
	<h5 class="text-p-dark2 p-1 pt-3 text-center ">
		documents joints du cadrage
	</h5>
	<div class="card-body">


		<input type="hidden" id="cadrage_filecount" value="{{ item.cadrageFiles | length }}"/>
		<input type="hidden" id="cadrage_linkcount" value="{{ item.cadrageLinks | length }}"/>

		<table id="file-media" class="table table-striped table-condensed " style="width:100%">
			{% for cadrageFile in item.cadrageFiles %}
				<tr id="cadrage_media-{{ cadrageFile.fileName }}">
					<td>
						<a type="button" class="text-p-dark" target="_blank" href="{{ absolute_url( asset(item.cadrageFile.href)) }}">
							{{ file.icon(item.cadrageFile.fileExtension) }}

							{{ item.cadrageFile.title }}
						</a>
					</td>
					<td>
						{{ item.cadrageFile.content  | raw }}
					</td>
					<small>
						{{ widgets.showLongDate(item.cadrageFile.modifyAt) }}
					</small>

					<td>
						<a type="button" class="text-primary" target="_blank" href="{{ absolute_url( asset(cadrageFile.href)) }}">
							{{ cadrageFile.title }}
						</a>
					</td>
					<td class="float-right" style="width: 100px">
						<button class="cadragemedia-delete btn btn-danger btn-sm " data-msg="cadrageFile_{{ loop.index0 }}" data-media="{{ cadrageFile.fileName }}">
							<i class="fas fa-trash"></i>
						</button>
						<span class="media-edit btn btn-info  btn-sm" onclick="cadrage_showOtherFile({{ loop.index0 }})">
							<i class="fas fa-edit"></i>
						</span>
					</td>
				</tr>
				<tr id="cadrageFile_{{ loop.index0 }}" class="d-none">
					<td colspan="3">
						{{ form_widget(form.cadrageFiles[loop.index0]) }}
					</td>
				</tr>
			{% endfor %}
			{% for cadrageLink in item.cadrageLinks %}
				<tr id="cadrage_media-{{ cadrageLink.id }}">
					<td>
						<a type="button" class="text-p-dark" target="_blank" href="{{ item.cadrageLink.link }}">
							<i class="fas fa-globe"></i>
							{{ item.cadrageLink.title }}
						</a>
						<br/>
						<span class="text-muted">
							{{ item.cadrageLink.link }}
						</span>
					</td>
					<td>
						{{ item.cadrageLink.content | raw }}
					</td>
					<td>
						<small>
							{{ widgets.showLongDate(item.cadrageLink.modifyAt) }}
						</small>
					</td>

					<td class="float-right" style="width: 100px">
						<button class="media-delete btn btn-danger btn-sm " data-msg="cadrageLink_{{ loop.index0 }}" data-media="{{ cadrageLink.id }}">
							<i class="fas fa-trash"></i>
						</button>
						<span class="media-edit btn btn-info  btn-sm" onclick="cadrage_showOtherLink({{ loop.index0 }})">
							<i class="fas fa-edit"></i>
						</span>
					</td>
				</tr>
				<tr id="cadrageLink_{{ loop.index0 }}" class="d-none">
					<td colspan="3">
						{{ form_widget(form.cadrageLinks[loop.index0]) }}
					</td>
				</tr>
			{% endfor %}
		</table>

		<div class="row justify-content-around js-createTip-wrapper">

			<a href="#file" id="add-file" class="btn btn-p-dark mt-1">
				<i class="fas fa-plus"></i>
				ajouter un fichier
			</a>
			<a href="#link" id="add-link" class="btn btn-p-dark mt-1">
				<i class="fas fa-plus"></i>
				ajouter un lien
			</a>
			<div class="createTip ">

				<div class="createTip__title">
					Ajouter un fichier
				</div>
				<p>
					Vous devez aller sélectionner le fichier à ajouter et renseigner obligatoirement le
					<strong>le titre</strong>.
																						                    Le titre doit être explicite.
				</p>
				<div class="createTip__title">
					Ajouter un lien
				</div>
				<p>
					Lors de l'ajout d'un lien, vous devez obligatoirement renseigner :
					<ul>
						<li>
							<strong>le titre</strong>
							:
																																								il doit être explicite</li>
						<li>
							<strong>l'adresse</strong>
							mettre une URL. exemple : http://google.fr</li>

					</ul>
				</p>
				<p>
					La description du lien ou du fichier est facultative mais elle peut apporter une aide à l'utilisateur
				</p>
			</div>
		</div>

		<div id="media-new">
			<div class="row">
				<div class="col-12 media-add" id="media-add-file" data-prototype="{{ form_row(form.cadrageFiles.vars.prototype) | e('html_attr') }}"></div>
				<div class="col-12 media-add" id="media-add-link" data-prototype="{{ form_row(form.cadrageLinks.vars.prototype) | e('html_attr') }}"></div>
			</div>
		</div>


	</div>
</article>
