<!-- Intervenants -->
<section>
	<h5 class="text-p-dark2 p-1  text-center ">
		Intervenants
	</h5>
	<div class="card-body">
		<div class="form-group row">
			<label for="{{ form.COTECHValiders.vars.id }}">
				COTECH
			</label>
			{{ form_widget(form.COTECHValiders) }}
		</div>
		<div class="form-group row">
			<label for="{{ form.CODIRValiders.vars.id }}">
				CODIR
			</label>
			{{ form_widget(form.CODIRValiders) }}
		</div>

		<div class="form-group row">
			<label for="{{ form.writers.vars.id }}">
				Pilote
			</label>
			{{ form_widget(form.writers) }}
		</div>
		<div class="form-group row">
			<label for="{{ form.readers.vars.id }}">
				Consultant
			</label>
			{{ form_widget(form.readers) }}
		</div>
		<div class="form-group row m-2">
			{{ form_row(form.isShowall) }}
		</div>
	</div>
</section>
