{% extends 'action/layout.html.twig' %}


{% block page_subtitle %}
	{% set nbr = items | length %}
	Liste
	{% if nbr==1 %}
		(1 action)
	{% elseif nbr>1 %}
		({{nbr}}
		actions)
	{% endif %}
{% endblock %}


{% block breadcrumb %}
	{% import "default/actions.html.twig" as actions %}
	{{ actions.admin(
        'list',
        null,
        null,
        domaine
    ) }}
{% endblock %}


{% block page_content %}
	<div class="row">
		<div class="col-xl-12 col-xxl-2">
				<h4 class="text-p-dark2 mt-5 text-center">
					<small>
						<i class="fas fa-stream"></i>
					</small>
					Thématiques
				</h4>
				<div>
						<!-- the events -->
						{% for thematique in pole.thematiques %}
<a href="{{ path('actions_for_thematique',{'id':thematique.id}) }}" class="badge badge-p-dark text-p-light text-md m-2">

								{{ thematique.name }}
							</a>
						{% endfor %}
</div>
				<a href="{{ path('actions_for_axe',{'id':pole.axe.id}) }}" class=" text-p-dark hvr-grow-shadow clearfix">
					retour vers
					{{ pole.axe.name }}
				</a>

				<!-- /.card-body -->
		</div>
		<div class="col-xl-12 col-xxl-2">
			<div class="d-none d-lg-block">
				{% include "action/_view/_datatable.html.twig" %}
			</div>
			<div class="d-lg-none">
				{% include "action/_view/_datatable_small.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% import "macros/datatables.html.twig" as tables %}
	{% set columns = {
	'Référence ': {'class': 'all', 'orderBy': true},
	'Action ': {'class': 'all', 'orderBy': true},
	'Classement ': {'class': 'desktop', 'orderBy': true},
    'Fin de déploiement': {'class': 'alwaysVisible', 'orderBy': true},
	'Jalon': {'class': 'alwaysVisible', 'orderBy': true},
	'Etat': {'class': 'alwaysVisible', 'orderBy': true},
	'Taux': {'class': 'alwaysVisible', 'orderBy': true},
    'actions': {'class': 'alwaysVisible', 'orderBy': false}
} %}


	{{ tables.datatable_javascript(tableName,1,columns) }}

	{% set columns = {
	'Action ': {'class': 'all', 'orderBy': true},
	'Taux': {'class': 'alwaysVisible', 'orderBy': true},
    'actions': {'class': 'alwaysVisible', 'orderBy': false}
} %}

	{{ tables.datatable_javascript(tableName ~ 'small',1,columns) }}

{% endblock %}
