{% extends 'action/layout.html.twig' %}


{% block page_subtitle %}Consultation
{% endblock %}

{% block breadcrumb %}
	{% import "action/_btn_actions.html.twig" as actions %}
	{{ actions.show(
        'show',
		item.stateCurrent,
        item,
    ) }}
{% endblock %}

{% block page_content %}
	<div class="row justify-content-start pb-5">
		{{ include('action/_show/_name.html.twig') }}
		<div class="row col-12">
			<div id="col1" class="col-sm-12  order-sm-second  col-md-12 order-sm-second col-lg-6 order-lg-second col-xl-2 order-xl-first">
				{{ include('action/_show/_tuile.html.twig') }}
				{{ include('action/_show/_date.html.twig') }}
			</div>
			<div id="col2" class="col-sm-12  order-sm-first  col-md-12 order-md-first col-lg-12  order-lg-first col-xl-7 order-xl-second  bg-white  p-5">
				{{ include('action/_show/_classement.html.twig') }}
				{{ include('action/_show/_measure.html.twig') }}
				{{ include('action/_show/_cadrage.html.twig') }}
				{{ include('action/_show/_info_part.html.twig') }}
				{{ include('action/_show/_actionFile.html.twig') }}
			</div>
			<div id="col3" class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
				{{ include('action/_show/_cibles.html.twig') }}
				{{ include('action/_show/_vecteurs.html.twig') }}
				{{ include('action/_show/_intervenant.html.twig') }}
			</div>
		</div>
		<div class="col-12 bg-white  p-5 mt-5">
			{{ include('action/_show/_organisme.html.twig') }}
		</div>
		<div class="col-12 bg-white  p-5 mt-5">
			{{ include('action/_show/_indicator.html.twig') }}
		</div>
	</div>

{% endblock %}
