{% import "macros/datatables.html.twig" as tables %}
{% import "macros/taux.html.twig" as tx %}
{% import "macros/workflow.html.twig" as wrk %}
{% import "macros/action.html.twig" as action %}
{% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}

{% set columns = {
'Déploiement ': {'class': 'align-middle text-center', 'orderBy': true},
'Taux': {'class': 'align-middle text-center', 'orderBy': true},
    'actions': {'class': 'alwaysVisible', 'orderBy': false}
} %}

{% import "@AdminLTE/Macros/default.html.twig" as macro %}

{{ tables.datatable_header(tableName ~ 'small', columns,  {'striped': true}) }}
{% for item in items %}

	<tr>

		<td class="align-middle ">
			<div class="text-lg clearfix">
				{% if item | deployementCanAppendRead %}
					<a href="{{ path('deployement_append',{id:item.id}) }}" class="text-p-dark">
						{{ item.organisme.name }}
					</a>
				{% else %}
					{{ item.organisme.name }}
				{% endif %}
			</div>
			{% if item.action | actionCanRead %}
				<a href="{{ path('action_show',{id:item.action.id}) }}" class="text-p-dark">
					{{ item.action.name }}
				</a>
			{% else %}
				{{ item.action.name }}
			{% endif %}
		</td>

		<td class="align-middle text-center text-xs">{{ tx.showBar(item.taux1,item.taux2 ) }}</td>
		<td class="  align-middle">
			{% if item | deployementCanAppendUpdate %}
				{{ btn.link_button(
                        'Compléter',
						path('deployement_append_edit',{id:item.id}),
                        'fa fa-edit',
                        'p-dark',
                        'p-dark btn-sm'
                    ) }}
			{% endif %}
		</td>
	</tr>
{% else %}
	{{ tables.datatable_data_else(columns) }}
{% endfor %}
{{ tables.datatable_footer(tableName ~ 'small',1) }}

