{% macro vignettes(items, col)%}
	{% import _self as act %}
	<div class="row">
		{% for item in items %}
			<div class="col-{{ col?col:'6'}}">
				{{ act.vignette(item) }}
			</div>
		{% endfor %}
	</div>
{% endmacro %}

{% macro vignette(item) %}
	{% import "macros/workflow.html.twig" as wrk %}

	<div class="info-box  bg-p-light h-100  hvr-grow-shadow">

		<span class="info-box-icon bg-p-dark text-p-light elevation-1">
			<i class="fas fa-bolt"></i>
		</span>

		<div class="info-box-content">
			<span>
				{% if item | actionCanRead %}
					<a href="{{ path('action_show', {'id': item.id}) }}" class="text-p-dark">
						{{ item.name }}
					</a>
				{% else %}
					{{ item.name }}
				{% endif %}
			</span>
			<span class="info-box-number">
				{{ item.category.thematique.ref }}-{{ item.category.ref }}-{{ item.ref }}
			</span>
			<small>
				{{ item.category.thematique.pole.axe.name }}
				<span class="  float-right">
					{{  wrk.badge_state(item.stateCurrent)}}
				</span>

				{%  if item.category.isEnable ==false or
                    item.category.thematique.isEnable ==false or
                    item.category.thematique.pole.isEnable ==false or
                    item.category.thematique.pole.axe.isEnable ==false  %}
					<span class="badge badge-danger text-xs float-right">L'action n'est pas visible</span>
				{% endif %}
				{%  if item.category.thematique.pole.axe.isArchiving ==true  %}
					<span class="badge badge-warning text-xs float-right">L'action est archivée</span>
				{% endif %}

			</small>
		</div>
	</div>
{% endmacro %}

{% macro ShowRegionEndAt(regionendat) %}
	{% import "macros/widgets.html.twig" as wdg %}

	{% if regionendat %}
		{% set difference = date("today").diff(date(regionendat)) %}
		{% set leftDays = difference.days %}
		{% if date("today") > date(regionendat) and leftDays > 0 %}
			<span class="text-danger font-weight-bold">
				-{{ leftDays }}
				jours
			</span>
		{% elseif leftDays ==0 %}
			<span class="text-warning font-weight-bold">
				Aujourd'hui
			</span>
		{% elseif leftDays ==1 %}
			<span class="text-warning font-weight-bold">
				Demain
			</span>
		{% elseif leftDays <8 %}
			<span class="text-warning font-weight-bold">
				{{ leftDays }}
				jours
			</span>
		{% else %}
			<span class="text-success">
				{{ leftDays }}
				jours
			</span>
		{% endif %}
		<br/>
		<small class="text-muted">
			{{ wdg.showXShortDate( regionendat) }}

		</small>
	{% else %}
		--/--/----
	{% endif %}

{% endmacro %}

{% macro showJalon(jalon) %}
	{% import "macros/widgets.html.twig" as wdg %}

	{% if jalon %}
		{% set difference = date("today").diff(date(jalon)) %}
		{% set leftDays = difference.days %}
		{% if date("today") > date(jalon) and leftDays > 0 %}
			<span class="text-danger font-weight-bold">
				-{{ leftDays }}
				jours
			</span>
		{% elseif leftDays ==0 %}
			<span class="text-warning font-weight-bold">
				Aujourd'hui
			</span>
		{% elseif leftDays ==1 %}
			<span class="text-warning font-weight-bold">
				Demain
			</span>
		{% elseif leftDays <8 %}
			<span class="text-warning font-weight-bold">
				{{ leftDays }}
				jours
			</span>
		{% else %}
			<span class="text-success">
				{{ leftDays }}
				jours
			</span>
		{% endif %}
		<br/>
		<small class="text-muted">
			{{ wdg.showXShortDate( jalon) }}

		</small>
	{% else %}
		--/--/----
	{% endif %}

{% endmacro %}


{% macro listAction(items,color) %}


	{% for  item in items %}
		{% if item.data!="0" %}
			<a class="text-p-dark bg-p-light list-group-item list-group-item-action hvr-float-shadow  d-flex justify-content-between align-items-center" href="{{ path(item.route) }}" style="color:{{ item.foreColor}};background-color:{{ item.bgColor}};">

				<span class=' mr-5'>
					{{ item.title | raw}}
				</span>
				<span class=''>
					<span class='badge badge-{{color}} mr-1'>
						{{ item.data}}
					</span>
				</span>
			</a>
		{% endif %}
	{% endfor %}


{% endmacro %}
