{% extends 'indicator/layout.html.twig' %}

{% import "macros/submit.html.twig" as sub %}
{% import "macros/save.html.twig" as save %}


{% block page_subtitle %}Création
{% endblock %}

{% block breadcrumb %}
	{% import "indicator/_btn_actions.html.twig" as actions %}
	{{ actions.show(
        'add',
        null,
        item,
        domaine,
        item.action
    ) }}
{% endblock %}

{% block page_content %}
	{{ form_start(form) }}

	<div class="row justify-content-center">
		{{ include(domaine ~ '/_show/_name.html.twig') }}
		<div class="row col-12">
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 ">
				{{ include(domaine ~ '/_edit/_isenable.html.twig') }}
				{{ include(domaine ~ '/_edit/_isForCalcul.html.twig') }}
				{{ include(domaine ~ '/_edit/_weigth.html.twig') }}
				{{ include(domaine ~ '/_edit/_type.html.twig') }}
			</div>
			<div class="col-sm-12  col-md-12 col-lg-12  col-xl-4   h-100">

				{{ include(domaine ~ '/_edit/_nameContent.html.twig') }}
				{{ save.btn()}}

			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  ">
				<div class="  bg-white card-body"></div>
			</div>
		</div>
	</div>
	<div class="d-none">{{ sub.btn() }}</div>
	{{form_rest(form)}}{{ form_end(form) }}
{% endblock %}


{%  block javascripts %}
	{{ parent() }}
	<!-- Select2 -->
	<script src="{{ absolute_url( asset('/vendor/axios/dist/axios.min.js')) }}"></script>
	<script src="{{ absolute_url( asset('/js/es_widget.js')) }}"></script>


	<script type="text/javascript">
		changeTemplate();
$('#indicator_indicatortype').change(function () {
changeTemplate();
});

function changeTemplate() {

let divgoal = $('#div_indicator_goal');
let divinitialValue = $('#div_indicator_value');
let goal = $('#indicator_goal');
let initialValue = $('#indicator_value');

let valType = getVal($('#indicator_indicatortype'));

var urlGoal = '/ajax/indicator/showgoal/' + valType;
var urlInitialValue = '/ajax/indicator/showinitialvalue/' + valType;

divgoal.fadeOut();
divinitialValue.fadeOut();
setVal(goal, '');
setVal(initialValue, '');

axios.get(urlGoal).then(function (response) {
if (response.data) {
divgoal.fadeIn(300);
if (getVal(goal) == "") {
setVal(goal, '100');
}
} else {
divgoal.fadeOut();
}
}).catch(function (error) {
console.log(error);
});

axios.get(urlInitialValue).then(function (response) {
if (response.data) {
divinitialValue.fadeIn(300);
if (getVal(initialValue) == "") {
setVal(initialValue, '0');
}
} else {
console.log(response.data)
divinitialValue.fadeOut();
}
}).catch(function (error) {
console.log(error);
});
}
	</script>
{% endblock %}
