{% extends 'indicator/layout.html.twig' %}

{% import "macros/submit.html.twig" as sub %}
{% import "macros/save.html.twig" as save %}


{% block page_subtitle %}Modification
{% endblock %}

{% block breadcrumb %}
	{% import "indicator/_btn_actions.html.twig" as actions %}
	{{ actions.show(
        'edit',
        null,
        item,
        domaine,
        item.action
    ) }}
{% endblock %}


{% block page_content %}
	{{ form_start(form) }}

	<div class="row justify-content-center">
		{{ include(domaine ~ '/_show/_name.html.twig') }}
		<div class="row col-12">
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 ">
				<div class="  bg-white card-body ">
					{{ include(domaine ~ '/_edit/_isenable.html.twig') }}
				</div>
				<div class="  bg-white card-body mt-5 ">
					{{ include(domaine ~ '/_edit/_type.html.twig') }}
				</div>
			</div>
			<div class="col-sm-12  col-md-12 col-lg-12  col-xl-4   h-100">
				<div class="  bg-white card-body ">
					{{ include(domaine ~ '/_edit/_nameContent.html.twig') }}
					{{ save.btn()}}
					{{ include(domaine ~ '/_edit/_isForCalcul.html.twig') }}
					{{ save.btn()}}

				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 col-xl-4  ">
				<div class="  bg-white card-body">
					{{ include(domaine ~ '/_edit/_organismes.html.twig') }}
				</div>
			</div>
		</div>
	</div>
	<div class="d-none">{{ sub.btn() }}</div>
	{{form_rest(form)}}{{ form_end(form) }}
{% endblock %}


{%  block javascripts %}
	{{ parent() }}
	<!-- Select2 -->
	<script src="{{ absolute_url( asset('/vendor/axios/dist/axios.min.js')) }}"></script>
	<script src="{{ absolute_url( asset('/js/es_widget.js')) }}"></script>
	<script src="{{ absolute_url( asset('/js/indicator/es_toggle.js')) }}"></script>
	<script src="{{ absolute_url( asset('/js/indicator/es_goalinitialvalue.js')) }}"></script>
{% endblock %}
