{% extends 'corbeille/layout.html.twig' %}


{% block page_subtitle %}Consultation
{% endblock %}

{% block breadcrumb %}
	{% import "default/actions.html.twig" as actions %}
	{{ actions.admin(
         'show',
         is_granted('ROLE_GESTIONNAIRE'),
         item,
         domaine
     ) }}
{% endblock %}

{% block page_content %}

	<div class="row justify-content-center">
		<div class="jumbotron col-12 text-center">
			<h3>
				<a href="{{ path('corbeille_show',{'id':item.id}) }}">
					{{ item.name }}
				</a>
			</h3>
		</div>
		<div class="col-12">
			{% set datas = item.actionReaders %}
			{% set nbr = datas | length %}

			{% if nbr>0 %}
				{% embed 'widgets/card-widget.html.twig' with {
                'collapsed':true,
                'collapsible':true
            } %}
					{% import "macros/action.html.twig" as act %}
					{% block card_title_class %}
						bg-p-ligth text-p-dark2
					{% endblock %}
					{% block card_title %}
						Consultation d'actions ({{ nbr }})
					{% endblock %}
					{% block card_body %}
						{{ act.vignettes(datas) }}
					{% endblock %}
				{% endembed %}
			{% endif %}


			{% set datas = item.actionWriters %}
			{% set nbr = datas | length %}

			{% if nbr>0 %}
				{% embed 'widgets/card-widget.html.twig' with {
                'collapsed':true,
                'collapsible':true
            } %}
					{% import "macros/action.html.twig" as act %}
					{% block card_title_class %}
						bg-p-ligth text-p-dark2
					{% endblock %}
					{% block card_title %}
						Pilotage d'actions ({{ nbr }})
					{% endblock %}
					{% block card_body %}
						{{ act.vignettes(datas) }}
					{% endblock %}
				{% endembed %}
			{% endif %}

			{% set datas = item.actionCOTECHValiders %}
			{% set nbr = datas | length %}

			{% if nbr>0 %}
				{% embed 'widgets/card-widget.html.twig' with {
                'collapsed':true,
                'collapsible':true
            } %}
					{% import "macros/action.html.twig" as act %}
					{% block card_title_class %}
						bg-p-ligth text-p-dark2
					{% endblock %}
					{% block card_title %}
						Validation des actions au COTECH ({{ nbr }})
					{% endblock %}
					{% block card_body %}
						{{ act.vignettes(datas) }}
					{% endblock %}
				{% endembed %}
			{% endif %}

			{% set datas = item.actionCODIRValiders %}
			{% set nbr = datas | length %}

			{% if nbr>0 %}
				{% embed 'widgets/card-widget.html.twig' with {
                'collapsed':true,
                'collapsible':true
            } %}
					{% import "macros/action.html.twig" as act %}
					{% block card_title_class %}
						bg-p-ligth text-p-dark2
					{% endblock %}
					{% block card_title %}
						Validation des actions au CODIR ({{ nbr }})
					{% endblock %}
					{% block card_body %}
						{{ act.vignettes(datas) }}
					{% endblock %}
				{% endembed %}
			{% endif %}

			{% set datas = item.deployementReaders %}
			{% set nbr = datas | length %}

			{% if nbr>0 %}
				{% embed 'widgets/card-widget.html.twig' with {
                'collapsed':true,
                'collapsible':true
            } %}
					{% import "macros/deployement.html.twig" as dep %}
					{% block card_title_class %}
						bg-p-ligth text-p-dark2
					{% endblock %}
					{% block card_title %}
						Consultation des déploiements ({{ nbr }})
					{% endblock %}
					{% block card_body %}
						{{ dep.vignettes(datas) }}
					{% endblock %}
				{% endembed %}
			{% endif %}

			{% set datas = item.deployementWriters %}
			{% set nbr = datas | length %}

			{% if nbr>0 %}
				{% embed 'widgets/card-widget.html.twig' with {
                'collapsed':true,
                'collapsible':true
            } %}
				{% import "macros/deployement.html.twig" as dep %}

					{% block card_title_class %}
						bg-p-ligth text-p-dark2
					{% endblock %}
					{% block card_title %}
						Pilotage des déploiements ({{ nbr }})
					{% endblock %}
					{% block card_body %}
						{{ dep.vignettes(datas) }}
					{% endblock %}
				{% endembed %}
			{% endif %}


		</div>
	</div>
{% endblock %}
