{% import "macros/file.html.twig" as file %}
{% import "macros/widgets.html.twig" as widgets %}

<table id="file-media" class="table table-striped table-condensed " style="width:100%">
    {% for deployementFile in item.deployementFiles %}
        <tr>
            <td>
                <a type="button" class="text-p-dark" target="_blank" href="{{ absolute_url( asset(deployementFile.href)) }}">
                    {{ file.icon(deployementFile.fileExtension) }}

                    {{ deployementFile.title }}
                </a>
            </td>
            <td>
                {{ deployementFile.content  | raw }}
            </td>
            <td>
                <small>
                    {{ widgets.showFullDateShortTime(deployementFile.modifyAt) }}
                </small>
            </td>
			<td class="align-middle">
				<span class="ml-2 text-muted text-bold">{{ file.size(deployementFile.size) }}</span>
			</td>            
            <td class="float-right" style="width: 100px">
                {{ file.delete_btn('deployementfile',deployementFile)}}
            	{{ file.edit_btn('deployementfile',deployementFile)}}
            </td>
        </tr>

    {% endfor %}

</table>