<h3 id="anchor_cadrage" class="text-p-dark2 pt-5">
	<small>
		<i class="fas fa-crop-alt"></i>
	</small>
	Fichiers joints du déploiement
</h3>
{% embed 'widgets/card-widget.html.twig' %}

	{% import "macros/file.html.twig" as file %}
	{% import "macros/widgets.html.twig" as widgets %}

	{% block card_class %}{% endblock %}
	{% block card_body_class %}p-1
	{% endblock %}
	{% block card_body %}
		<input type="hidden" id="deployement_filecount" value="{{ item.deployementFiles | length }}"/>
		<input type="hidden" id="deployement_linkcount" value="{{ item.deployementLinks | length }}"/>

		<table id="deployement_file-media" class="table table-striped table-condensed " style="width:100%">

			{% for deployementFile in item.deployementFiles %}
				<tr id="deployement_media-{{ deployementFile.id }}">
					<td>
						<a type="button" class="text-p-dark" target="_blank" href="{{ absolute_url( asset(deployementFile.href)) }}">
							{{ file.icon(deployementFile.fileExtension) }}

							{{ deployementFile.title }}
						</a>
					</td>
					<td>
						{{ deployementFile.content  | raw }}
					</td>
					<td>
						<small>
							{{ widgets.showLongDate(deployementFile.updatedAt) }}
						</small>
					</td>
					<td class="float-right" style="width: 100px">
						<button class="media-delete btn btn-danger btn-sm " data-msg="deployement_deployementFile_{{ loop.index0 }}" data-media="{{ deployementFile.id }}">

							<i class="fas fa-trash"></i>
						</button>
						<span class="media-edit btn btn-info  btn-sm" onclick="deployement_showOtherFile({{ loop.index0 }})">
							<i class="fas fa-edit"></i>
						</span>
					</td>
				</tr>
				<tr id="deployement_deployementFile_{{ loop.index0 }}" class="d-none">
					<td colspan="4">
						{{ form_widget(form.deployementFiles[loop.index0]) }}
					</td>
				</tr>
			{% endfor %}
			{% for deployementLink in item.deployementLinks %}
				<tr id="deployement_media-{{ deployementLink.id }}">
					<td>
						<a type="button" class="text-p-dark" target="_blank" href="{{ deployementLink.link }}">
							<i class="fas fa-globe"></i>
							{{ deployementLink.title }}
						</a>
						<br/>
						<span class="text-muted">
							{{ deployementLink.link }}
						</span>
					</td>
					<td>
						{{ deployementLink.content | raw }}
					</td>
					<td>
						<small>
							{{ widgets.showLongDate(deployementLink.updatedAt) }}
						</small>
					</td>
					<td class="float-right" style="width: 100px">
						<button class="media-delete btn btn-danger btn-sm " data-msg="deployementLink_{{ loop.index0 }}" data-media="{{ deployementLink.id }}">
							<i class="fas fa-trash"></i>
						</button>
						<span class="media-edit btn btn-info  btn-sm" onclick="deployement_showOtherLink({{ loop.index0 }})">
							<i class="fas fa-edit"></i>
						</span>
					</td>
				</tr>
				<tr id="deployement_deployementLink_{{ loop.index0 }}" class="d-none">
					<td colspan="4 ">
						<div class="card-body shadow">
							{{ form_widget(form.deployementLinks[loop.index0]) }}
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endblock %}
{% endembed %}
{% embed 'widgets/card-widget.html.twig' %}
	{% block card_class %}flat
	{% endblock %}
	{% block card_body %}


		<div class="row justify-content-around js-createTip-wrapper">

			<a href="#deployement_file" id="deployement_add-file" class="btn btn-p-dark mt-1">

				<i class="fas fa-plus"></i>
				ajouter un fichier
			</a>
			<a href="#deployement_link" id="deployement_add-link" class="btn btn-p-dark mt-1">


				<i class="fas fa-plus"></i>
				ajouter un lien
			</a>
			<div class="createTip ">

				<div class="createTip__title">
					Ajouter un fichier
				</div>
				<p>
					Vous devez aller sélectionner le fichier à ajouter et renseigner obligatoirement le
					<strong>le titre</strong>.
																																																			                    Le titre doit être explicite.
				</p>
				<div class="createTip__title">
					Ajouter un lien
				</div>
				<p>
					Lors de l'ajout d'un lien, vous devez obligatoirement renseigner :
					<ul>
						<li>
							<strong>le titre</strong>
							:
																																																																										il doit être explicite</li>
						<li>
							<strong>l'adresse</strong>
							mettre une URL. exemple : http://google.fr</li>

					</ul>
				</p>
				<p>
					La description du lien ou du fichier est facultative mais elle peut apporter une aide à l'utilisateur
				</p>
			</div>
		</div>

		<div id="media-new">
			<div class="row">
				<div class="col-12 media-add" id="deployement_media-add-file" data-prototype="{{ form_row(form.deployementFiles.vars.prototype) | e('html_attr') }}"></div>

				<div class="col-12 media-add" id="deployement_media-add-link" data-prototype="{{ form_row(form.deployementLinks.vars.prototype) | e('html_attr') }}"></div>

			</div>
		</div>


	{% endblock %}
{% endembed %}

