{% if item is defined %}

	{% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
	{% import "macros/delele.html.twig" as del %}
	{% import "macros/submit.html.twig" as sub %}
	{{ form_start(form) }}


	<div class="{{ col_1_2 }}">
		{% embed 'widgets/card-widget.html.twig' %}
			{% block card_class %}
				card-primary card-outline
			{% endblock %}
			{% block card_body_class %}
				box-profile
			{% endblock %}
			{% block card_body %}
				<div class="text-center display-2">
					<strong>{{ item.ref }}</strong>
				</div>
				<h2 class="profile-username text-center">{{ item.name }}</h2>


				<div class="float-right">
					{% if item.isEnable %}
						<span class="badge badge-success">Visible</span>
					{% else %}
						<span class="badge badge-danger">Masquée</span>

					{% endif %}

					{% if item.isAlterable %}
						<span class="badge badge-success">Administrable</span>

					{% else %}
						<span class="badge badge-danger">Non administrable</span>

					{% endif %}

				</div>
			{% endblock %}

		{% endembed %}

	<div class="row justify-content-center">
		<div class="{{ col_1_2 }}">
			{% embed 'widgets/card-widget.html.twig' %}
				{% block card_title %}
					<span class="text-bold">
						{{ item.organisme.name }}</span>
				{% endblock %}
				{% block card_body %}
					<div class="row">
						<div class=" col-12">


							<div class="form-group row">
								<label class="col-sm-3 col-form-label" for="{{ form.showat.vars.id }}">
									Jalon
								</label>
								<div class="col mt-1 ">
									{{ form_widget(form.showat) }}
								</div>
							</div>

						</div>
					</div>


				{% endblock %}

			{% endembed %}
		</div>

	</div>
	{% import "macros/submit.html.twig" as sub %}
	<div class="d-none">{{ sub.btn() }}</div>
	{{ form_end(form) }}
	{% if item.id is not null %}
		{{ del.delete_form(route_del,item.id, 'show') }}
	{% endif %}
{% endif %}
